function Main.main 0
push constant 50
push constant 50
push constant 20
call Screen.drawCircle 3
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 50
push constant 50
push constant 8
call Screen.drawCircle 3
pop temp 0
push constant 0
return
